<div class="banner">
  <h1>TODOs</h1>
</div>

<p *ngIf="anonymous$ | async">
  Please log in to see your To Do list.
</p>

<ng-container *ngIf="authenticated$ | async">
  <div class="row">

  </div>

  <div *ngIf="error$ | async" class="row">
    <div class="col">
      <div class="alert alert-warning hide">
        <strong>Error: </strong>
        <span>{{error$ | async}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <table *ngIf="todos$">
      <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let forecast of todos$ | async">
        <td>{{ forecast.date }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
